    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #333;
        color: #fff;
        padding: 20px;
    }


    #input_form {
        font-size: 25px;
        text-align: center;

    }

    footer {
        background-color: #403a3a;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    ul, ol {
        padding: 0;
    }
      
    ul li {
        position: relative;
        list-style-type: none!important;/*ポチ消す*/
        padding: 0.5em 0.5em 0.5em 0.5em;
        margin-bottom: 5px;
        line-height: 1.5;
        background: #e1e6e9;
        vertical-align: middle;
        color: #505050;
        border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
    }
    
    ul li:before{ 
        display:inline-block; 
        vertical-align: middle;
        /*以下白丸つくる*/
        content:'';
        width:1em;
        height: 1em;
        background: #fff;
        border-radius: 50%;
        margin-right: 8px;
    }

    #choice_form {
        font-size: 30px;
    }