/* GoBoard.css */
.intersection {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ebc369;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.line {
  position: absolute;
  background-color: #000;
}

.vertical-line {
  width: 2px;
  height: 100%;
}

.horizontal-line {
  width: 100%;
  height: 2px;
}

.stone {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}
